@{
    ViewBag.ActiveMenu = "日志";
    ViewBag.Title = "日志详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">日志</h1>
                        <p>畅游在书的海洋中...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb">
                                <a href="/Images/blog/1.jpg" data-title="微软更新服务协议：Win10用户可能将无法运行盗版游戏." data-lightbox="blogimg">
                                    <img src="/Images/blog/1.jpg" class="img-responsive" alt="">
                                </a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="javascript:;">@(DateTime.Now.Day)<br><small>@(DateTime.Now.Month)月</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="#">微软更新服务协议：Win10用户可能将无法运行盗版游戏</a></h2>
                                <h3 class="post-author"><a href="#">作者：Q</a></h3>
                                <p>
                                    　　虽然微软在过去2多周时间内喜获5000万名Windows10用户，但是它最新更新的服务协议(Service Agreement)可能会让这个良好的增长势头受到负面影响。在协议的服务或软件(Service or Software)版块下，微软将会自动检查用户软件并进行实时更新，有些时候这些更新甚至还可能会阻止用户运行“盗版游戏”。
                                </p>
                                <p>
                                    　服务协议7b部分内容如下：“有些时候你将需要软件升级来保证服务的使用。我们可能会自动检查你软件的版本并下载软件更新或配置更改文件，包括那些阻止你访问服务、运行盗版游戏，或使用未经授权硬件外设。你也可能会收到更新软件以保持服务继续使用的要求。”
                                </p>
                                <p>
                                    其实，微软这种阻止玩家运行盗版游戏的做法倒也是情理之中，看这家公司的其他平台，如Xbox、Xbox 360及桌面版Windows其盗版现象非常严重。不过有一点比较奇怪的是，微软在条款中用的不是“盗版软件”这个整体概念，而是取用了部分类别——“盗版游戏”和“未经授权的硬件外设”。
                                </p>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="javascript:;" title="收藏数"><i class="fa fa-heart"></i>12</a></li>
                                        <li><a href="javascript:;" title="评论数"><i class="fa fa-comments"></i>111</a></li>
                                        <li><a href="javascript:;" title="浏览数"><i class="fa fa-eye"></i>324</a></li>
                                    </ul>
                                </div>
                                <div class="blog-share">
                                    <span class='st_facebook_hcount'></span>
                                    <span class='st_twitter_hcount'></span>
                                    <span class='st_linkedin_hcount'></span>
                                    <span class='st_pinterest_hcount'></span>
                                    <span class='st_email_hcount'></span>
                                </div>
                                <div class="author-profile padding">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="/Images/blogdetails/1.png" alt="">
                                        </div>
                                        <div class="col-sm-10">
                                            <h3>Q</h3>
                                            <p>来来来来来来来来来来来来来来来来来来来来来来来来来来来来来来</p>
                                            <p>来来来来来来来来来来来来来来来来来来来来来来来来来来来来来来</p>
                                            <p>来来来来来来来来来来来来来来来来来来来来来来来来来来来来来来</p>
                                        </div>
                                    </div>
                                </div>
                                @Html.Action(MVC.Blog._CommentList(1))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item add">
                        @*<h3>Tag Cloud</h3>*@
                        <button class="btn btn-block btn-primary btn-lg">新建日志</button>
                    </div>
                    <div class="sidebar-item  recent">
                        <h3>Comments</h3>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/Images/portfolio/project1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/Images/portfolio/project2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/Images/portfolio/project3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>Categories</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
                            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item tag-cloud">
                        <h3>Tag Cloud</h3>
                        <ul class="nav nav-pills">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">Abstract</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Product</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item popular">
                        <h3>Latest Photos</h3>
                        <ul class="gallery">
                            <li><a href="#"><img src="/Images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

