<div class="response-area">
    <h2 class="bold">评论列表</h2>
    <ul class="media-list">
        <li class="media">
            <div class="post-comment">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                </a>
                <div class="media-body">
                    <span><i class="fa fa-user"></i>Posted by <a href="#">Endure</a></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    <ul class="nav navbar-nav post-nav">
                        <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                        <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                    </ul>
                </div>
            </div>
            <div class="parrent">
                <ul class="media-list">
                    <li class="post-comment reply">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <span><i class="fa fa-user"></i>Posted by <a href="#">Endure</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                            <ul class="nav navbar-nav post-nav">
                                <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="media">
            <div class="post-comment">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                </a>
                <div class="media-body">
                    <span><i class="fa fa-user"></i>Posted by <a href="#">Endure</a></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    <ul class="nav navbar-nav post-nav">
                        <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                        <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                    </ul>
                </div>
            </div>
        </li>

    </ul>
</div><!--/Response-area-->