<div class="response-area padding-top">
    <h2 class="bold">评论列表(4)</h2>
    <ul class="media-list">
        <li class="media">
            <div class="post-comment">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                </a>
                <div class="media-body">
                    <a href="#">v差别:</a>
                    <p>第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论第一条评论</p>
                    <ul class="nav navbar-nav post-nav navbar-right">
                        <li><span title="时间"><i class="fa fa-clock-o"></i> 2015-8-24 11:26</span></li>
                        <li><a id="blogcommentreply" href="javascript:;"><span>展开回复</span>(2)</a></li>
                    </ul>
                </div>
            </div>
            <div class="parrent">
                <ul class="media-list">
                    <li class="post-comment reply">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <a href="#">阿斯顿发多少:</a>
                            <p>回复第一条评论回复第一条评论回复第一条评论</p>
                            <ul class="nav navbar-nav post-nav navbar-right">
                                <li><span title="时间"><i class="fa fa-clock-o"></i> 2015-8-24 11:26</span></li>
                            </ul>
                        </div>
                    </li>
                    <li class="post-comment reply">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <a href="#">阿斯顿发多少:</a>
                            <p>回复第一条评论回复第一条评论回复第一条评论回复第一条评论回复第一条评论回复第一条评论回复第一条评论回复第一条评论回复第一条评论</p>
                            <ul class="nav navbar-nav post-nav navbar-right">
                                <li><span title="时间"><i class="fa fa-clock-o"></i> 2015-8-24 11:26</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="media">
            <div class="post-comment">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/Images/avatar_default.jpg" alt="">
                </a>
                <div class="media-body">
                    <a href="#">分工会官方:</a>
                    <p>第二条评论第二条评论第二条评论第二条评论第二条评论</p>
                    <ul class="nav navbar-nav post-nav navbar-right">
                        <li><span title="时间"><i class="fa fa-clock-o"></i> 2015-8-24 11:26</span></li>
                        <li><a href="javascript:;"><i class="fa fa-reply"></i>回复</a></li>
                    </ul>
                </div>
            </div>
        </li>

    </ul>
</div><!--/Response-area-->
<script>
    $(function () {
        $("div.parrent").hide();
        $("#blogcommentreply").click(function () {
            $(this).parents("li.media").children("div.parrent").slideToggle("fast");
            var spanSelector = $(this).children("span");
            if (spanSelector.html() == "展开回复") {
                spanSelector.html("收起回复");
            } else {
                spanSelector.html("展开回复");
            }
        });

    });
</script>