
<div class="sidebar blog-sidebar">
    <div class="sidebar-item add">
        @*<h3>Tag Cloud</h3>*@
        <a class="btn btn-block btn-primary btn-lg" href="@Url.Action(MVC.Blog.Blog.Edit())">新建日志</a>
    </div>
    @Html.Action(MVC.Blog.Blog._ListHotBlogs())

    <div class="sidebar-item categories">
        <h3>分类</h3>
        <ul class="nav navbar-stacked">
            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
        </ul>
    </div>
    <div class="sidebar-item tag-cloud">
        <h3>Tag Cloud</h3>
        <ul class="nav nav-pills">
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Joomla</a></li>
            <li><a href="#">Abstract</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Product</a></li>
        </ul>
    </div>
    @*<div class="sidebar-item popular">
        <h3>Latest Photos</h3>
        <ul class="gallery">
            <li><a href="#"><img src="/Images/portfolio/popular1.jpg" alt=""></a></li>
            <li><a href="#"><img src="/Images/portfolio/popular2.jpg" alt=""></a></li>
            <li><a href="#"><img src="/Images/portfolio/popular3.jpg" alt=""></a></li>
            <li><a href="#"><img src="/Images/portfolio/popular4.jpg" alt=""></a></li>
            <li><a href="#"><img src="/Images/portfolio/popular5.jpg" alt=""></a></li>
            <li><a href="#"><img src="/Images/portfolio/popular1.jpg" alt=""></a></li>
        </ul>
    </div>*@
</div>