<?xml version="1.0" encoding="utf-8"?>
<Permissions>
  <Permission id="1" pId="0" permissionName="Page" name="页面" />
  
  <Permission id="11" pId="1" permissionName="Page.Channel" name="首页" />
  
  <Permission id="12" pId="1" permissionName="Page.Users" name="用户" />
  <Permission id="121" pId="12" permissionName="Page.Users.Manage" name="用户管理" />
  <Permission id="1211" pId="121" permissionName="Page.Users.Manage.Add" name="添加用户" />
  <Permission id="1212" pId="121" permissionName="Page.Users.Manage.Delete" name="删除用户" />
  <Permission id="1213" pId="121" permissionName="Page.Users.Manage.Edit" name="编辑用户" />
  <Permission id="1214" pId="121" permissionName="Page.Users.Manage.SetRoles" name="设置角色" />
  <Permission id="1215" pId="121" permissionName="Page.Users.Manage.SetPermissions" name="设置权限" />
  
  <Permission id="122" pId="12" permissionName="Page.Roles.Manage" name="角色管理" />
  <Permission id="1221" pId="122" permissionName="Page.Roles.Manage.Add" name="添加角色" />
  <Permission id="1222" pId="122" permissionName="Page.Roles.Manage.Delete" name="删除角色" />
  <Permission id="1223" pId="122" permissionName="Page.Roles.Manage.Edit" name="编辑角色" />
  <Permission id="1224" pId="122" permissionName="Page.Roles.Manage.SetPermissions" name="设置权限" />

  <Permission id="13" pId="1" permissionName="Page.News" name="新闻" />  
  <Permission id="131" pId="13" permissionName="Page.News.Manage" name="新闻管理" />
  <Permission id="1311" pId="131" permissionName="Page.News.Manage.Add" name="添加新闻" />
  <Permission id="1312" pId="131" permissionName="Page.News.Manage.Delete" name="删除新闻" />
  <Permission id="1313" pId="131" permissionName="Page.News.Manage.Edit" name="编辑新闻" />

  <Permission id="132" pId="13" permissionName="Page.News.Category" name="新闻类别" />
  <Permission id="1322" pId="132" permissionName="Page.News.Category.Add" name="添加类别" />
  <Permission id="1321" pId="132" permissionName="Page.News.Category.Delete" name="删除类别" />
  <Permission id="1323" pId="132" permissionName="Page.News.Category.Edit" name="编辑类别" />


  <Permission id="14" pId="1" permissionName="Page.System" name="系统" />
  <Permission id="141" pId="14" permissionName="Page.System.SiteSetting" name="站点设置" />
  <Permission id="142" pId="14" permissionName="Page.System.ResetSite" name="重启站点" />
  <Permission id="143" pId="14" permissionName="Page.System.ClearCache" name="清理缓存" />

  <Permission id="141" pId="14" permissionName="Page.System.SiteSetting" name="站点设置" />
  <Permission id="142" pId="14" permissionName="Page.System.ResetSite" name="重启站点" />
  <Permission id="143" pId="14" permissionName="Page.System.ClearCache" name="清理缓存" />

  <Permission id="141" pId="14" permissionName="Page.System.SiteSetting" name="站点设置" />
  <Permission id="142" pId="14" permissionName="Page.System.ResetSite" name="重启站点" />
  <Permission id="143" pId="14" permissionName="Page.System.ClearCache" name="清理缓存" />


  <Permission id="2" pId="0" permissionName="Login" name="登录" />
  <Permission id="21" pId="2" permissionName="Login.Channel" name="登录前台" />
  <Permission id="22" pId="2" permissionName="Login.Admin" name="登录后台" />
</Permissions>
