@{
    ViewBag.Title = "首页";
    ViewBag.ActiveMenu = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>ChiakiYu</h1>
                    <p>专注于互联网的研究与实践、醉心于用户体验、钟情于asp.net mvc，行家的选择。</p>
                    <a href="@Url.Action(MVC.Channel.About())" class="btn btn-common">了解更多</a>
                </div>
                <img src="/Images/home/slider/hill.png" class="slider-hill" alt="slider image">
                <img src="/Images/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="/Images/home/slider/sun.png" class="slider-sun" alt="slider image">
                <img src="/Images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                <img src="/Images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->
<section id="services">
    <div class="container">
        <div class="row">

                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/Images/home/icon1.png" alt="">
                        </div>
                        <h2>广告单月订单过亿</h2>
                        <p>推出了O2O效果广告产品，商户可以不受时间和广告位置限制，灵活获得更多品牌曝光。</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/Images/home/icon2.png" alt="">
                        </div>
                        <h2>切入的新业务已全面开花</h2>
                        <p>2015年，切入的新业务已经全线开花。除了国内，拓展脚步还遍布海外。</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/Images/home/icon3.png" alt="">
                        </div>
                        <h2>狼性执行</h2>
                        <p>公司整体呈现“加速度”发展，从全公司员工身上明显能嗅到“狼性”的气息，整体的执行力提升非常快。</p>
                    </div>
                </div>

        </div>
    </div>
</section>
<!--/#services-->
<section id="action" class="responsive">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Triangle Corporate Template</h1>
                        <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/Images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <p>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Built for the Responsive Web</h2>
                    <p>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.</p>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/Images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/Images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <p>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#features-->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="/Images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Happy Clients</h1>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/Images/home/client.png" class="img-responsive" alt=""></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#clients-->
